/*
created by
TheSmallHanCat
Koyuki
用于文件目录美化以及背景图
*/

body{
	background-image:url('https://img.wjwj.top/2024/06/24/61de9263dc3e3b65ca36115bed27e2a4.png');//将此处替换为你自己的背景图api地址
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

	@keyframes gradientBG {
	    0% {
		background-position: 0% 50%;
		}

		50% {
		background-position: 100% 50%;
		}

		100% {
		background-position: 0% 50%;
		}
	}
.fish-container {
				margin: 0;
				padding: 0;
				background-color: transparent;
				width: 100%;
				height: 200px;
				z-index: -1;
				position: fixed;
				bottom: 0;
				left: 0;
				opacity: .5;
			}


.hope-c-PJLV-igScBhH-css{
    background-color: rgba(255, 255, 255, .8) !important;
    justify-content: center;
}
.hope-c-PJLV-ijgzmFG-css{
    opacity: .8; !important
    justify-content: cente
